<div class="header">
  <div class="user-name">
    <%= link_to current_user.nickname, root_path, method: :get %>
  </div>
  <div>
    <ul class="user-edit">
      <li>
        <%= link_to '編集', edit_user_registration_path, method: :get %>
      </li>
      <li>
        <%= link_to 'ログアウト', user_registration_path, method: :delete %>
      </li>
    </ul>
  </div>
</div>