<div class="side">
  <div class="side-header">
    <a class="question-btn" href="/rooms/new">Question</a>
  </div>
  <div class="side-bar">
    <% current_user.rooms.each do |room| %>
      <a class="room-selector" href="#">
        <div class="room-status">
          <%= room.room_name %>
        </div>
        <% room.room_users.each do |room_user|%>
          <%unless room_user.user_id == current_user.id %>
            <div class="room-status">
              相談者: <%= room_user.user.nickname%>
            </div>
          <% end %>
        <% end %>
      </a>
    <% end %>
  </div>
</div>