<div class="header">
  <div class="user-name">
    User Name
  </div>
  <div>
    <ul class="user-edit">
      <li>
        <a class="user-edit-btn" href="#">編集</a>
      </li>
      <li>
        <a class="user-edit-btn" href="#">ログアウト</a>
      </li>
    </ul>
  </div>
</div>