<div class="contents">
  <div class="main">
    <%= render "header"%>
    <div class="center">
      
    </div>
    <div class="footer">
      <a class="add-task-btn" href="#">タスク作成</a>
    </div> 
  </div>
  <%= render "side"%>
</div>
