<div class="contents">
  <div class="main">
    <%= render "tasks/header"%>
    <div class="center">
      
    </div>
    <div class="footer">
      <a class="add-task-btn" href="/tasks/new">ルーム作成</a>
    </div> 
  </div>
  <%= render "tasks/side"%>
</div>