// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メインルームコンテンツ
.chat-main{
  position: relative;
}

.problem-contents li{
  color: #ffffff;
  display: flex;
  margin: 8px 0;
}

.problem-direction{
  flex-direction: row-reverse;
}

.problem-text{
  padding: 10px;
  border-radius: 8px;
  background-color: #0099FF;
  max-width: 60%;
}

.answer-text{
  padding: 10px;
  border-radius: 8px;
  background-color: #1b2440;
  max-width: 60%;
}

.created_at{
  color: #666;
  margin: auto 3px 0;
  font-size: 2px;
  position: relative;
  bottom: 0;
}

// プレビュー画面
.image-preview{
  position: absolute;
  right: 10px;
}

// フッター
.problem-form{
  display: flex;
  width: 100%;
  margin: 0 5px;
}

// 音声入力ボタン
.problem-start-btn{
  display: block;
  text-align: center;
  line-height: 58px;
  color: #ffffff;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #666;
  cursor: pointer;
}
.problem-start-btn:hover{
  opacity: .8;
}
.problem-stop-btn{
  text-align: center;
  line-height: 58px;
  color: #ffffff;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: crimson;
  cursor: pointer;
}
.problem-stop-btn:hover{
  opacity: .8;
}

.text-form{
  width: calc(100% - 200px);
  border: none;
  margin: 0 5px;
  background-color: #171a23;
  color: #ffffff;
}

.hidden{
  display: none;
}

.icon-form{
  width: 60px;
  height: 60px;
}
.image-file{
  width: 60px;
  height: 60px;
}
.image-file:before {
  font-family: "Font Awesome 5 Free";
  content: '\f03e';
  font-size: 60px;
  cursor: pointer;
}
.image-file:hover{
  color: #0099FF;
}
#problem-submit{
  width: 60px;
  height: 60px;
  background-color: #0099FF;
  border-radius: 50%;
  margin-left: 5px;
  text-align: center;
  line-height: 60px;
  font-size: 45px;
  color: #ffffff;
  cursor: pointer;
}

#problem-submit:hover{
  opacity: .8;
}