.room-builder{
  height: 100%;
  width: 100%;
  display: flex;
}

.user-selector{
  height: calc(100% - 40px);
  margin-top: 20px;
  width: 250px;
}
.user-seach{
  height: 80px;
  width: 100%;
  color: #ffffff;
}

.user-scroll{
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

.user-bar{
  height: 40px;
  width: 100%;
  color: #ffffff;
  background-color: #1b2440;
  line-height: 40px;
  cursor: pointer;
}
.user-bar:hover{
  color: #0099FF;
}

.room-form{
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 40px;
  width: 250px;
  overflow: hidden;
}
.user-confirmation{
  height: 150px;
  color: #ffffff;
}
.user-confirmation-bar{
  margin-top: 40px;
  height: 40px;
  width: 100%;
  color: #ffffff;
  background-color: #1b2440;
  line-height: 40px;
}
.room-name{
  color: #ffffff;
}
.room-name-input{
  border: none;
  width: 100%;
  height: 25px;
  background-color: #1b2440;
  color: #ffffff;
  margin: 10px;
}
.instructions{
  margin-top: 40px;
  color: #ffffff;
}

.problem-form{
  display: flex;
  width: 100%;
  margin: 0 5px;
}

// 音声入力ボタン
.problem-start-btn{
  display: block;
  text-align: center;
  line-height: 58px;
  color: #ffffff;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #666;
  cursor: pointer;
}

.problem-stop-btn{
  text-align: center;
  line-height: 58px;
  color: #ffffff;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: crimson;
  cursor: pointer;
}


.text-form{
  width: calc(100% - 200px);
  border: none;
  margin: 0 5px;
  background-color: #171a23;
  color: #ffffff;
}

.hidden{
  display: none;
}

.form-image{
  width: 60px;
  height: 60px;
}

.problem-submit{
  border: none;
  border-radius: 50%;
  background-color: #0099FF;
  color: #ffffff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 46px;
}
.problem-submit:hover{
  cursor: pointer;
  opacity: .8;
}