// 全体
.contents{
  height: 100vh;
  display: flex;  
}

// 左側メイン画面
.main{
  height: 100vh;
  width: calc(100vw - 200px);
}

// ヘッダー（ユーザー情報）
.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2440;
  border-right: 1px solid #171a23;
}
.user-name{
  color: #ffffff;
  margin-left: 15px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.user-edit{
  display: flex;
  align-items: center;
}
.user-edit-btn{
  height: 30px;
  padding: 10px 15px;
  font-size: 20px;
  color: #0099FF;
  margin-right: 10px;
}


// センター画面（タスク表示）
.center{
  height: calc(100vh - 170px);
  background-color: #171a23;
  padding: 0 15px;
  overflow: scroll;
}


// 日付ボーダー
.day-border {
  color: #666;
  display: flex;
  align-items: center;
}

.day-border:before,
.day-border:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}

.day-border:before {
  margin-right: 1rem;
}

.day-border:after {
  margin-left: 1rem;
}

// タスク
.task{
  margin: 10px 0;
  width: 100%;
  color: #ffffff;
  background-color: #1b2440;
  position: relative;
}

// タスクチェック時
.task-status-zone:hover{
  color: #666;
}
div[data-check="true"]{
  color: #666;
}

// タスク表示内容
.task-status{
  margin-bottom: 5px;
}
.task-contents{
  // margin-bottom: 50px;
}
.task-edit{
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
}
.task-edit-btn{
  display: block;
  height: 20px;
  width: 30px;
  padding: 10px 10px;
  text-align: center;
  color: #0099ff;
  margin-right: 10px;
}

// タスク作成内容
.f-label{
  color: #ffffff;
}
.f-content{
  background-color: #1b2440;
  width: 100%;
  color: #ffffff;
  border: none;
}

// 音声入力ボタン
.start-btn{
  display: block;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  background-color: #666;
  cursor: pointer;
}
.start-btn:hover{
  opacity: .8;
}
.stop-btn{
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  background-color: crimson;
  cursor: pointer;
}
.stop-btn:hover{
  opacity: .8;
}

// タスク作成ボタン
.footer{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #1b2440;
  border-right: 1px solid #171a23;
}

.add-task-btn{
  display: block;
  margin: auto;
  height: 60px;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 40px;
  background-color: #0099FF;
  border: none;
  color: #ffffff;
}
.add-task-btn:hover{
  cursor: pointer;
  opacity: .8;
}

// 右側サイド画面
.side{
  height: 100vh;
  width: 200px;
  background-color: #1b2440;
}

// Questionボタン部分

.side-header{
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.question-btn{
  display: block;
  margin: auto;
  height: 60px;
  width: 170px;
  text-align: center;
  font-size: 35px;
  background-color: #0099FF;
  color: #ffffff;
}

.side-bar{
  width: 100%;
  height: calc(100vh - 150px);
  overflow: scroll;
}
.room-selector{
  display: block;
  height: 40px;
  width: 100%;
  color: #666;
  padding: 8px 5px;
}
.room-selector:hover{
  color: #0099FF;
}

