// 全体
.contents{
  height: 100vh;
  display: flex;  
}


// 左側メイン画面
.main{
  height: 100vh;
  width: calc(100vw - 200px);
}

// ヘッダー（ユーザー情報）
.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightpink;
}
.user-name{
  margin-left: 15px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.user-edit{
  display: flex;
  align-items: center;
}
.user-edit-btn{
  height: 30px;
  padding: 10px 15px;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 10px;
}


// センター画面（タスク表示）
.center{
  height: calc(100vh - 170px);
  background-color: lightyellow;
  padding: 0 15px;
  overflow: scroll;
}


// 日付ボーダー
.day-border {
  display: flex;
  align-items: center;
}

.day-border:before,
.day-border:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}

.day-border:before {
  margin-right: 1rem;
}

.day-border:after {
  margin-left: 1rem;
}

// タスク
.task{
  margin: 10px 0;
  width: 100%;
  position: relative;
  border: 1px solid #666;
}
.task-status{
  margin-bottom: 5px;
}
.task-contents{
  margin-bottom: 50px;
}
.task-edit{
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
}
.task-edit-btn{
  display: block;
  border: 1px solid #666;
  height: 20px;
  width: 45px;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  color: #666;
  margin-right: 20px;
}

// タスク作成ボタン
.footer{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: lightseagreen;
}

.add-task-btn{
  display: block;
  margin: auto;
  height: 60px;
  width: calc(100% - 50px);
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  border: 1px solid #ffffff;
  
}

// 右側サイド画面
.side{
  height: 100vh;
  width: 200px;
  background-color: lightblue;
}

// Questionボタン部分

.side-header{
  height: 150px;
  width: 100%;
  background-color: greenyellow;
  display: flex;
  align-items: center;
}

.question-btn{
  display: block;
  margin: auto;
  height: 60px;
  width: 170px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.side-bar{
  width: 100%;
  height: calc(100vh - 150px);
  overflow: scroll;
}
.room-selector{
  display: block;
  height: 40px;
  width: 100%;
  color: #666;
  padding: 8px 5px;
  border-bottom: 1px solid #666;
  background-color: lightblue;
}

